nav {
  display: flex;
  height: 5vh;
  justify-content: space-between;
}

.img-link {
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-link > img {
  width: 40%;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #616e7c;
}

.navigation-links > h1 {
  align-self: center;
}

.navigation-card {
  width: 20%;
}

.icons {
  align-self: center;
  font-size: 3vw;
  margin-right: 1%;
}

.modal-btn-container {
  position: absolute;
  top: 1px;
  text-align: right;
  width: 100%;
  padding: 2%;
}

button {
  border: none;
  background-color: transparent;
  font-size: 2vw;
  font-weight: bold;
}
